pandas
seaborn
numpy
matplotlib
scikit-learn
plotly
jupyterlab
imblearn
yellowbrick
statsmodels
scipy
xgboost

# To install the required packages, run the following command:
# pip install -r requirements.txt